
.idea/
*.iml
*.ipr

cmake-build-*/

.idea/**/mongoSettings.xml

*.iws

out/

.idea_modules/

atlassian-ide-plugin.xml

.idea/replstate.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea/httpRequests

.idea/caches/build_file_checksums.ser



**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

.externalToolBuilders/

*.launch

*.pydevproject

.cproject

.autotools

.factorypath

.buildpath

.target

.tern-project

.texlipse

.springBeans

.recommenders/

.apt_generated/
.apt_generated_test/

.cache-main
.scala_dependencies
.worksheet

.project

/node_modules
/.pnp
.pnp.js

/coverage

/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/**/node_modules
/**/target
/test-api/dependency-reduced-pom.xml
